<input id='menu' type='checkbox' />
<div class='start-screen'>
  <label for='menu' class='open' >
    <div class='start-btn'>
      <%= 'START' %>
    </div>
  </label>
</div>

  
<div class='main-contents'>
  <% photos = @photos%>
  <% photos.each_with_index do |photo , n| %>
  <div class='at-container'>
    <div class='at-item ani-option<%="#{n}"%>'>
      <%=  image_tag photo.urls.thumb ,class: "size-option#{n}", style: 'opacity: unset;' %> 
    </div>
  </div>
  <% end %>
</div>